<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет proudcts -->
{% block title %}
All posts

{% endblock title %}
<!-- В контенте на странице мы выводим сам товар, айди которого было передано в адрес -->
{% block content %}

{% if post.choise %}
    <h3> Новость номер {{ post.id }} </h3>
{% else %}
    <h3> Статья номер {{ post.id }} </h3>
{% endif %}

<h3> {{ post.name }} </h3>
<hr>

<h3> {{ post.text }} </h3>

<a href="{% url 'post_edit' post.pk %}">Редактировать</a>
<br>
<a href="{% url 'post_delete' post.pk %}">Удалить</a>


{% endblock content %}